.collapse {
  margin-bottom: 31px;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    padding: 13px 18px;
    border-radius: 10px;
    margin-bottom: -10px;
    position: relative;
    h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
    img {
      height: 14.06px;
      width: 23.86px;
      cursor: pointer;
    }
    .vectorUp {
      display: none;
    }
  }
  .description {
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    background: #f7f7f7;
    padding: 18px;
    display: none;
    z-index: -10;
  }
  .visible {
    display: block;
    z-index: -10;
  }
}

@media screen and (max-width: 600px) {
  .collapse {
    .title {
      padding: 6px 11px;
      border-radius: 5px;
      h3 {
        font-size: 13px;
      }
    }
    .description {
      font-size: 12px;
    }
  }
}
