.apropos {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-self: flex-end;
  max-width: 1240px;
  margin: auto;

  .banner {
    background-image: url("../../assets/img/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png");
    .ombrage {
      background: #000;
      position: absolute;
      width: 1240px;
      height: 223px;
      opacity: 0.3;
    }
  }

  .strong_points {
    min-width: 100%;
    padding: 20px;
    .collapse {
      .title {
        max-width: 1023px;
        margin: auto;
        font-size: 24px;
      }
      .description {
        font-size: 24px;
        max-width: 1023px;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .apropos {
    .banner {
      background-image: url("../../assets/img/gustavo-alves-YOXSC4zRcxw-unsplash\ 1.png");
      width: 336px;
      height: 223px;
      margin-bottom: 0;
      margin: auto;
    }
    .strong_points {
      width: 100%;
      padding: 20px;
      .collapse {
        .description {
          font-size: 12px;
        }
      }
    }
  }
}
